*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Serif', serif;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.container{
    padding: 15px;
    max-width: 1100px;
    margin: auto;
}

/*header start*/

.section-title{
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    text-transform: uppercase;
}

#header{
    transition: background-color 0.3s;
    /*background-color: #3d405b;*/
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

#header.open #navigation{
    transform: translateX(0px);
}
#header.open #nav-toggle{
    background-color: rgba(255,255,255,0.2);
}
#header.scrolled{
    background-color: #3d405b;
}

#logo{
    width: 75%;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;  /*on own*/
}

#nav-toggle{
    width: 70px;
    display: inline-block;
    font-size: 1.7em;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}

#header a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

#logo a{
    font-seze: 1.7em;
    padding: 30px;
    padding-left: 15px;
    display: inline-block;
}

#navigation{
    width: 300px; /*giving it fixed position*/
    position: absolute;
    left: 0;
    background-color: #3d405b;
    min-height: 100vh; /*vh is view port*/
    transform: translateX(-300px);
    transition: transform 0.4s;
}

#navigation a{
    display: block; /*they will take complete line*/
    opacity: 0.8;
    text-transform: uppercase;
}

navigation a:hover{
    opacity: 1;
}

/*header end*/

/*intro start*/
#intro{
    background-image: linear-gradient(rgba(61,64,91,0.75),rgba(61,64,91,0.5)),url("../img/b2.jpg");
    min-height: 520px;
    background-size: cover;
    background-attachment: fixed;

}
.intro-text{
    position: relative;
    top: 100px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
}
.intro-text h1 strong,
.intro-text h1 em{
    font-size: 1.25em;
    padding: 5px 0px;
    display: block;
    color: #e07a5f;
    text-transform: uppercase;
}
.call-to-action{
    margin: 20px 0px;
}
.intro-text .call-to-action{
    width: 70%;
    margin: auto;
}
.btn{
    padding: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
}
.btn svg{
    margin-right: 5px;
}
.btn-bg{
    color: #fff;
    background-color: #e07a5f;

}
.btn-highlight{
    color: #fff;
    background-color: #3d405b;

}
.intro-text .btn{
    display: block;
    margin: 10px 0px;
}

/*intro end*/

/*about me start*/
#about-me{
    background-image: linear-gradient(rgba(61,64,91,0.75),rgba(61,64,91,0.5)),url("../img/b3.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 0px;
    color: #fff;
    text-align: center;
}
.whoiam-text h4{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}
.whoiam-text p{
    padding: 10px 0px;
}
/*about me end*/

/*services start*/
.service-title{
    font-size: 2em;
    text-align: center;
    padding: 20px 0px;
    text-transform: uppercase;
}
.service{
    margin: 20px 0px;
    text-align: center;
}
.service:hover .service-icon{
    background-color: #e07a5f;
    outline: 5px solid #e07a5f;
    outline-offset: 5px;
}
.service-icon{
    font-size: 3.5em;
    margin: 30px 0px;
    background-color: rgba(0,0,0,.1);
    display: inline-block;
    padding: 20px;
    width: 110px;
    height: 110px;
    transform: rotate(45deg);
    transition: background-color 0.4s, outline 0.4s, outline-offset 0.4s;
    color: #fff;
    outline: 5px solid transparent;
    outline-offset: 0px;
}
.service-icon svg{
    transform: rotate(-45deg);
}
.service-title{
    padding: 10px 0px;
    font-size: 1.7em;
    text-transform: uppercase;
}
.service-desc{
    padding: 5px 0px;
}
.service:hover .service-desc{
    opacity: 1;
    transition: opacity 0.4s;
}
#services .service-desc{
    opacity: 0;
}
/*services end*/

/*history start*/
#history{
    background-color: #e07a5f;
    color: #fff;
}
.history{
    margin: 30px 0px;
}
.history-title{
    font-size: 1.2em;
    padding: 10px 0px;
}
.history-title .icon{
    color: #3d405b;
    display: inline-block;
    margin-right: 5px;
}
.history-title .text{
    display: inline-block;
}
.events-container{
    margin: 30px 0;
    position: relative;
}
.events-container::before{
    content: '';
    display: block;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    width: 25px;
    position: absolute;
    border-radius: 20px;
}
.event-date{
    font-size: 1.1em;
    font-style: italic;
    opacity: 0.9;
    padding: 10px 0;
    padding-left: 40px;
    position: relative;
}
.event-date:before{
    content: '';
    display: block;
    background-color: #3d405b;
    width: 25px;
    height: 25px;
    left: 0;
    border-radius: 100px;
    position: absolute;
}
.event-title{
    padding: 15px 0px;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 40px;
}
.event-result{
    font-style: italic;
    opacity: 0.9;
    font-size: 1.1em;
    padding: 10px 0;
    padding-left: 40px;
}
.event-desc{
    padding: 5px 0px;
    padding-left: 40px;
}
#history .btn{
    display: block;
}
/*history end*/

/*skills start*/
#skills{
    background-image: linear-gradient(rgba(61,64,91,0.75),rgba(61,64,91,0.5)),url("../img/b3.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
/*skills end*/

/*portfolio start*/
#portfolio{
    background-color: #dddddd;
}
.work{
    margin: 20px 0;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    position: relative;
}
.work:hover .work-text{
    opacity: 1;
}
.work-text{
    background-color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.4s;
}
.work-text h4{
    font-size: 1.5em;
    padding: 10px 0;
}
.work.one{
    background-image: url("../img/piggame.JPG");
    background-size: cover;
}
.work.two{
    background-image: url("../img/forkify.JPG");
    background-size: cover;
}
.work.three{
    background-image: url("../img/piggame.JPG");
    background-size: cover;
}
.work-icon{
    position: absolute;
    padding: 20px;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
    background-color: #3d405b;
    color: #fff;
    text-align: center;

}

/*portfolio end*/