*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Serif', serif;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.container{
    padding: 15px;
    max-width: 1100px;
    margin: auto;
}

/*header start*/
#header{
    transition: background-color 0.3s;
    /*background-color: #3d405b;*/
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

#header.open #navigation{
    transform: translateX(0px);
}
#header.open #nav-toggle{
    background-color: rgba(255,255,255,0.2);
}
#header.scrolled{
    background-color: #3d405b;
}

#logo{
    width: 75%;
    display: inline-block;
    font-weight: bold;
}

#nav-toggle{
    width: 70px;
    display: inline-block;
    font-size: 1.7em;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}

#header a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

#logo a{
    font-seze: 1.7em;
    padding: 30px;
    padding-left: 15px;
    display: inline-block;
}

#navigation{
    width: 300px; /*giving it fixed position*/
    position: absolute;
    left: 0;
    background-color: #3d405b;
    min-height: 100vh; /*vh is view port*/
    transform: translateX(-300px);
    transition: transform 0.4s;
}

#navigation a{
    display: block; /*they will take complete line*/
    opacity: 0.8;
    text-transform: uppercase;
}

navigation a:hover{
    opacity: 1;
}

/*header end*/

/*intro start*/
#intro{
    background-image: linear-gradient(rgba(61,64,91,0.75),rgba(61,64,91,0.5)),url("../img/b2.jpg");
    min-height: 520px;
    background-size: cover;
    background-attachment: fixed;

}
.intro-text{
    position: relative;
    top: 100px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
}
.intro-text h1 strong,
.intro-text h1 em{
    font-size: 1.25em;
    padding: 5px 0px;
    display: block;
    color: #e07a5f;
    text-transform: uppercase;
}
.call-to-action{
    margin: 20px 0px;
}
.intro-text .call-to-action{
    width: 70%;
    margin: auto;
}
.btn{
    padding: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
}
.btn svg{
    margin-right: 5px;
}
.btn-bg{
    color: #fff;
    background-color: #e07a5f;

}
.btn-highlight{
    color: #fff;
    background-color: #3d405b;

}
.intro-text .btn{
    display: block;
    margin: 10px 0px;
}

/*intro end*/